## **Pandas** installation

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 435.7 kB/s eta 0:00:27
   ---------------------------------------- 0.0/11.5 MB 326.8 kB/s eta 0:00:36
   ---------------------------------------- 0.1/11.5 MB 363.1 kB/s eta 0:00:32
   ---------------------------------------- 0.1/11.5 MB 459.5 kB/s eta 0:00:25
   ---------------------------------------- 0.1/11.5 MB 435.7 kB/s eta 0:00:27
   ---------------------------------------- 0.1/11.5 MB 413.7 kB/s eta 0:00:28
    --------------------------------------- 0.2/11.5 MB 437.1 kB/s eta 0:00:26
    --------------------------------------- 0.2/11.5 MB 455.1 kB/s eta 0:00:25
    --------------------------------------- 0.2/11.5 MB 461.0 kB/s eta 0:00:25
    --------------------------------------- 0.2/11.5 MB 452.1 kB/s eta 0:00:25
    --------------------------------------- 0.3/11.5 MB 476.3 kB/s eta 0:00:24
    --------------------------------------- 0.3/11.5 MB 468.0 kB/s eta 0:00:25
    --------------------------------------- 0.3/11.5 MB 465.5 kB/s eta 0:00:25
   - -------------------------------------- 0.3/11.5 MB 468.3 kB/s eta 0:00:24
   - -------------------------------------- 0.3/11.5 MB 480.7 kB/s eta 0:00:24
   - -------------------------------------- 0.4/11.5 MB 487.6 kB/s eta 0:00:23
   - -------------------------------------- 0.4/11.5 MB 481.3 kB/s eta 0:00:24
   - -------------------------------------- 0.4/11.5 MB 497.4 kB/s eta 0:00:23
   - -------------------------------------- 0.4/11.5 MB 497.4 kB/s eta 0:00:23
   - -------------------------------------- 0.5/11.5 MB 469.4 kB/s eta 0:00:24
   - -------------------------------------- 0.5/11.5 MB 465.0 kB/s eta 0:00:24
   - -------------------------------------- 0.5/11.5 MB 493.9 kB/s eta 0:00:23
   - -------------------------------------- 0.5/11.5 MB 491.3 kB/s eta 0:00:23
   - -------------------------------------- 0.5/11.5 MB 491.3 kB/s eta 0:00:23
   - -------------------------------------- 0.5/11.5 MB 466.7 kB/s eta 0:00:24
   -- ------------------------------------- 0.6/11.5 MB 476.7 kB/s eta 0:00:23
   -- ------------------------------------- 0.6/11.5 MB 483.3 kB/s eta 0:00:23
   -- ------------------------------------- 0.6/11.5 MB 467.9 kB/s eta 0:00:24
   -- ------------------------------------- 0.6/11.5 MB 472.4 kB/s eta 0:00:23
   -- ------------------------------------- 0.7/11.5 MB 471.1 kB/s eta 0:00:23
   -- ------------------------------------- 0.7/11.5 MB 468.1 kB/s eta 0:00:24
   -- ------------------------------------- 0.7/11.5 MB 477.9 kB/s eta 0:00:23
   -- ------------------------------------- 0.7/11.5 MB 481.6 kB/s eta 0:00:23
   -- ------------------------------------- 0.7/11.5 MB 481.6 kB/s eta 0:00:23
   -- ------------------------------------- 0.8/11.5 MB 460.0 kB/s eta 0:00:24
   -- ------------------------------------- 0.8/11.5 MB 463.8 kB/s eta 0:00:24
   -- ------------------------------------- 0.8/11.5 MB 457.0 kB/s eta 0:00:24
   -- ------------------------------------- 0.8/11.5 MB 460.0 kB/s eta 0:00:24
   -- ------------------------------------- 0.8/11.5 MB 460.0 kB/s eta 0:00:24
   -- ------------------------------------- 0.9/11.5 MB 456.9 kB/s eta 0:00:24
   --- ------------------------------------ 0.9/11.5 MB 454.9 kB/s eta 0:00:24
   --- ------------------------------------ 0.9/11.5 MB 461.4 kB/s eta 0:00:23
   --- ------------------------------------ 0.9/11.5 MB 455.7 kB/s eta 0:00:24
   --- ------------------------------------ 0.9/11.5 MB 455.2 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.5 MB 453.4 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.5 MB 453.0 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.5 MB 452.6 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.5 MB 447.6 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.5 MB 444.4 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.5 MB 442.7 kB/s eta 0:00:24
   --- ------------------------------------ 1.1/11.5 MB 442.6 kB/s eta 0:00:24
   --- ------------------------------------ 1.1/11.5 MB 441.0 kB/s eta 0:00:24
   --- ------------------------------------ 1.1/11.5 MB 441.0 kB/s eta 0:00:24
   --- ------------------------------------ 1.1/11.5 MB 440.9 kB/s eta 0:00:24
   --- ------------------------------------ 1.1/11.5 MB 436.9 kB/s eta 0:00:24
   --- ------------------------------------ 1.1/11.5 MB 434.2 kB/s eta 0:00:24
   ---- ----------------------------------- 1.2/11.5 MB 434.3 kB/s eta 0:00:24
   ---- ----------------------------------- 1.2/11.5 MB 430.5 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 430.5 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 425.7 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 422.3 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 418.0 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 418.0 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 411.7 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 411.7 kB/s eta 0:00:25
   ---- ----------------------------------- 1.2/11.5 MB 404.5 kB/s eta 0:00:26
   ---- ----------------------------------- 1.3/11.5 MB 403.0 kB/s eta 0:00:26
   ---- ----------------------------------- 1.3/11.5 MB 400.3 kB/s eta 0:00:26
   ---- ----------------------------------- 1.3/11.5 MB 400.3 kB/s eta 0:00:26
   ---- ----------------------------------- 1.3/11.5 MB 395.1 kB/s eta 0:00:26
   ---- ----------------------------------- 1.3/11.5 MB 395.6 kB/s eta 0:00:26
   ---- ----------------------------------- 1.3/11.5 MB 395.6 kB/s eta 0:00:26
   ---- ----------------------------------- 1.4/11.5 MB 393.8 kB/s eta 0:00:26
   ---- ----------------------------------- 1.4/11.5 MB 393.8 kB/s eta 0:00:26
   ---- ----------------------------------- 1.4/11.5 MB 393.8 kB/s eta 0:00:26
   ---- ----------------------------------- 1.4/11.5 MB 384.4 kB/s eta 0:00:27
   ---- ----------------------------------- 1.4/11.5 MB 381.8 kB/s eta 0:00:27
   ---- ----------------------------------- 1.4/11.5 MB 381.8 kB/s eta 0:00:27
   ---- ----------------------------------- 1.4/11.5 MB 379.3 kB/s eta 0:00:27
   ---- ----------------------------------- 1.4/11.5 MB 379.3 kB/s eta 0:00:27
   ---- ----------------------------------- 1.4/11.5 MB 374.1 kB/s eta 0:00:27
   ---- ----------------------------------- 1.4/11.5 MB 373.3 kB/s eta 0:00:27
   ---- ----------------------------------- 1.4/11.5 MB 373.3 kB/s eta 0:00:27
   ----- ---------------------------------- 1.4/11.5 MB 367.0 kB/s eta 0:00:28
   ----- ---------------------------------- 1.5/11.5 MB 367.8 kB/s eta 0:00:28
   ----- ---------------------------------- 1.5/11.5 MB 368.6 kB/s eta 0:00:28
   ----- ---------------------------------- 1.5/11.5 MB 366.9 kB/s eta 0:00:28
   ----- ---------------------------------- 1.5/11.5 MB 369.1 kB/s eta 0:00:28
   ----- ---------------------------------- 1.5/11.5 MB 366.0 kB/s eta 0:00:28
   ----- ---------------------------------- 1.5/11.5 MB 368.2 kB/s eta 0:00:28
   ----- ---------------------------------- 1.6/11.5 MB 367.5 kB/s eta 0:00:28
   ----- ---------------------------------- 1.6/11.5 MB 367.3 kB/s eta 0:00:28
   ----- ---------------------------------- 1.6/11.5 MB 366.7 kB/s eta 0:00:27
   ----- ---------------------------------- 1.6/11.5 MB 366.7 kB/s eta 0:00:27
   ----- ---------------------------------- 1.6/11.5 MB 365.9 kB/s eta 0:00:27
   ----- ---------------------------------- 1.6/11.5 MB 365.9 kB/s eta 0:00:27
   ----- ---------------------------------- 1.6/11.5 MB 365.9 kB/s eta 0:00:27
   ----- ---------------------------------- 1.6/11.5 MB 361.6 kB/s eta 0:00:28
   ----- ---------------------------------- 1.7/11.5 MB 362.1 kB/s eta 0:00:28
   ----- ---------------------------------- 1.7/11.5 MB 359.5 kB/s eta 0:00:28
   ----- ---------------------------------- 1.7/11.5 MB 359.5 kB/s eta 0:00:28
   ----- ---------------------------------- 1.7/11.5 MB 359.0 kB/s eta 0:00:28
   ----- ---------------------------------- 1.7/11.5 MB 359.0 kB/s eta 0:00:28
   ----- ---------------------------------- 1.7/11.5 MB 359.0 kB/s eta 0:00:28
   ----- ---------------------------------- 1.7/11.5 MB 359.0 kB/s eta 0:00:28
   ------ --------------------------------- 1.7/11.5 MB 349.5 kB/s eta 0:00:28
   ------ --------------------------------- 1.7/11.5 MB 347.2 kB/s eta 0:00:29
   ------ --------------------------------- 1.8/11.5 MB 349.1 kB/s eta 0:00:28
   ------ --------------------------------- 1.8/11.5 MB 347.9 kB/s eta 0:00:28
   ------ --------------------------------- 1.8/11.5 MB 348.7 kB/s eta 0:00:28
   ------ --------------------------------- 1.8/11.5 MB 350.4 kB/s eta 0:00:28
   ------ --------------------------------- 1.8/11.5 MB 352.3 kB/s eta 0:00:28
   ------ --------------------------------- 1.9/11.5 MB 352.1 kB/s eta 0:00:28
   ------ --------------------------------- 1.9/11.5 MB 354.6 kB/s eta 0:00:28
   ------ --------------------------------- 1.9/11.5 MB 353.4 kB/s eta 0:00:28
   ------ --------------------------------- 1.9/11.5 MB 355.2 kB/s eta 0:00:27
   ------ --------------------------------- 2.0/11.5 MB 359.7 kB/s eta 0:00:27
   ------ --------------------------------- 2.0/11.5 MB 361.2 kB/s eta 0:00:27
   ------- -------------------------------- 2.0/11.5 MB 363.7 kB/s eta 0:00:27
   ------- -------------------------------- 2.0/11.5 MB 365.3 kB/s eta 0:00:26
   ------- -------------------------------- 2.1/11.5 MB 366.7 kB/s eta 0:00:26
   ------- -------------------------------- 2.1/11.5 MB 367.5 kB/s eta 0:00:26
   ------- -------------------------------- 2.1/11.5 MB 372.4 kB/s eta 0:00:26
   ------- -------------------------------- 2.2/11.5 MB 372.9 kB/s eta 0:00:26
   ------- -------------------------------- 2.2/11.5 MB 377.8 kB/s eta 0:00:25
   ------- -------------------------------- 2.2/11.5 MB 378.5 kB/s eta 0:00:25
   ------- -------------------------------- 2.3/11.5 MB 378.7 kB/s eta 0:00:25
   ------- -------------------------------- 2.3/11.5 MB 382.6 kB/s eta 0:00:25
   -------- ------------------------------- 2.3/11.5 MB 385.7 kB/s eta 0:00:24
   -------- ------------------------------- 2.4/11.5 MB 391.2 kB/s eta 0:00:24
   -------- ------------------------------- 2.4/11.5 MB 392.2 kB/s eta 0:00:24
   -------- ------------------------------- 2.5/11.5 MB 397.6 kB/s eta 0:00:23
   -------- ------------------------------- 2.5/11.5 MB 400.5 kB/s eta 0:00:23
   -------- ------------------------------- 2.5/11.5 MB 407.3 kB/s eta 0:00:22
   --------- ------------------------------ 2.6/11.5 MB 414.7 kB/s eta 0:00:22
   --------- ------------------------------ 2.7/11.5 MB 418.1 kB/s eta 0:00:22
   --------- ------------------------------ 2.7/11.5 MB 426.2 kB/s eta 0:00:21
   --------- ------------------------------ 2.8/11.5 MB 432.6 kB/s eta 0:00:21
   --------- ------------------------------ 2.8/11.5 MB 435.3 kB/s eta 0:00:20
   --------- ------------------------------ 2.9/11.5 MB 438.5 kB/s eta 0:00:20
   ---------- ----------------------------- 2.9/11.5 MB 437.9 kB/s eta 0:00:20
   ---------- ----------------------------- 2.9/11.5 MB 440.5 kB/s eta 0:00:20
   ---------- ----------------------------- 3.0/11.5 MB 447.7 kB/s eta 0:00:20
   ---------- ----------------------------- 3.0/11.5 MB 451.1 kB/s eta 0:00:19
   ---------- ----------------------------- 3.1/11.5 MB 459.7 kB/s eta 0:00:19
   ---------- ----------------------------- 3.2/11.5 MB 462.5 kB/s eta 0:00:19
   ----------- ---------------------------- 3.2/11.5 MB 470.2 kB/s eta 0:00:18
   ----------- ---------------------------- 3.3/11.5 MB 477.5 kB/s eta 0:00:18
   ----------- ---------------------------- 3.4/11.5 MB 488.2 kB/s eta 0:00:17
   ----------- ---------------------------- 3.4/11.5 MB 491.1 kB/s eta 0:00:17
   ------------ --------------------------- 3.5/11.5 MB 496.6 kB/s eta 0:00:17
   ------------ --------------------------- 3.6/11.5 MB 507.8 kB/s eta 0:00:16
   ------------ --------------------------- 3.7/11.5 MB 516.0 kB/s eta 0:00:16
   ------------- -------------------------- 3.8/11.5 MB 527.1 kB/s eta 0:00:15
   ------------- -------------------------- 3.9/11.5 MB 533.1 kB/s eta 0:00:15
   ------------- -------------------------- 3.9/11.5 MB 539.8 kB/s eta 0:00:15
   ------------- -------------------------- 4.0/11.5 MB 544.7 kB/s eta 0:00:14
   -------------- ------------------------- 4.1/11.5 MB 552.3 kB/s eta 0:00:14
   -------------- ------------------------- 4.2/11.5 MB 562.7 kB/s eta 0:00:14
   -------------- ------------------------- 4.2/11.5 MB 565.7 kB/s eta 0:00:13
   -------------- ------------------------- 4.2/11.5 MB 564.7 kB/s eta 0:00:13
   -------------- ------------------------- 4.2/11.5 MB 564.7 kB/s eta 0:00:13
   -------------- ------------------------- 4.2/11.5 MB 559.2 kB/s eta 0:00:13
   -------------- ------------------------- 4.2/11.5 MB 559.2 kB/s eta 0:00:13
   -------------- ------------------------- 4.3/11.5 MB 555.2 kB/s eta 0:00:14
   -------------- ------------------------- 4.3/11.5 MB 553.4 kB/s eta 0:00:14
   -------------- ------------------------- 4.3/11.5 MB 553.4 kB/s eta 0:00:14
   --------------- ------------------------ 4.3/11.5 MB 550.7 kB/s eta 0:00:14
   --------------- ------------------------ 4.4/11.5 MB 553.9 kB/s eta 0:00:13
   --------------- ------------------------ 4.4/11.5 MB 553.1 kB/s eta 0:00:13
   --------------- ------------------------ 4.4/11.5 MB 555.1 kB/s eta 0:00:13
   --------------- ------------------------ 4.5/11.5 MB 558.2 kB/s eta 0:00:13
   --------------- ------------------------ 4.6/11.5 MB 569.0 kB/s eta 0:00:13
   ---------------- ----------------------- 4.7/11.5 MB 575.6 kB/s eta 0:00:12
   ---------------- ----------------------- 4.7/11.5 MB 578.8 kB/s eta 0:00:12
   ---------------- ----------------------- 4.8/11.5 MB 580.2 kB/s eta 0:00:12
   ---------------- ----------------------- 4.8/11.5 MB 585.7 kB/s eta 0:00:12
   ----------------- ---------------------- 4.9/11.5 MB 596.0 kB/s eta 0:00:11
   ----------------- ---------------------- 4.9/11.5 MB 596.0 kB/s eta 0:00:11
   ----------------- ---------------------- 4.9/11.5 MB 596.0 kB/s eta 0:00:11
   ----------------- ---------------------- 5.0/11.5 MB 589.7 kB/s eta 0:00:12
   ----------------- ---------------------- 5.0/11.5 MB 587.7 kB/s eta 0:00:12
   ----------------- ---------------------- 5.0/11.5 MB 587.7 kB/s eta 0:00:12
   ----------------- ---------------------- 5.0/11.5 MB 583.6 kB/s eta 0:00:12
   ----------------- ---------------------- 5.0/11.5 MB 583.6 kB/s eta 0:00:12
   ----------------- ---------------------- 5.0/11.5 MB 579.7 kB/s eta 0:00:12
   ----------------- ---------------------- 5.0/11.5 MB 577.7 kB/s eta 0:00:12
   ----------------- ---------------------- 5.1/11.5 MB 575.9 kB/s eta 0:00:12
   ----------------- ---------------------- 5.1/11.5 MB 576.2 kB/s eta 0:00:12
   ----------------- ---------------------- 5.1/11.5 MB 576.2 kB/s eta 0:00:12
   ----------------- ---------------------- 5.1/11.5 MB 571.3 kB/s eta 0:00:12
   ----------------- ---------------------- 5.1/11.5 MB 571.6 kB/s eta 0:00:12
   ----------------- ---------------------- 5.1/11.5 MB 571.0 kB/s eta 0:00:12
   ----------------- ---------------------- 5.2/11.5 MB 570.5 kB/s eta 0:00:12
   ----------------- ---------------------- 5.2/11.5 MB 570.5 kB/s eta 0:00:12
   ------------------ --------------------- 5.2/11.5 MB 568.8 kB/s eta 0:00:12
   ------------------ --------------------- 5.2/11.5 MB 568.0 kB/s eta 0:00:12
   ------------------ --------------------- 5.2/11.5 MB 568.6 kB/s eta 0:00:12
   ------------------ --------------------- 5.3/11.5 MB 568.2 kB/s eta 0:00:11
   ------------------ --------------------- 5.3/11.5 MB 569.4 kB/s eta 0:00:11
   ------------------ --------------------- 5.4/11.5 MB 571.3 kB/s eta 0:00:11
   ------------------ --------------------- 5.4/11.5 MB 573.7 kB/s eta 0:00:11
   ------------------ --------------------- 5.4/11.5 MB 573.8 kB/s eta 0:00:11
   ------------------ --------------------- 5.4/11.5 MB 572.4 kB/s eta 0:00:11
   ------------------- -------------------- 5.5/11.5 MB 573.8 kB/s eta 0:00:11
   ------------------- -------------------- 5.5/11.5 MB 572.1 kB/s eta 0:00:11
   ------------------- -------------------- 5.5/11.5 MB 572.4 kB/s eta 0:00:11
   ------------------- -------------------- 5.5/11.5 MB 572.4 kB/s eta 0:00:11
   ------------------- -------------------- 5.6/11.5 MB 570.0 kB/s eta 0:00:11
   ------------------- -------------------- 5.6/11.5 MB 571.6 kB/s eta 0:00:11
   ------------------- -------------------- 5.6/11.5 MB 571.7 kB/s eta 0:00:11
   ------------------- -------------------- 5.7/11.5 MB 572.2 kB/s eta 0:00:11
   ------------------- -------------------- 5.7/11.5 MB 573.7 kB/s eta 0:00:11
   ------------------- -------------------- 5.7/11.5 MB 576.1 kB/s eta 0:00:10
   -------------------- ------------------- 5.8/11.5 MB 574.6 kB/s eta 0:00:10
   -------------------- ------------------- 5.8/11.5 MB 574.9 kB/s eta 0:00:10
   -------------------- ------------------- 5.8/11.5 MB 574.3 kB/s eta 0:00:10
   -------------------- ------------------- 5.8/11.5 MB 575.6 kB/s eta 0:00:10
   -------------------- ------------------- 5.9/11.5 MB 575.9 kB/s eta 0:00:10
   -------------------- ------------------- 5.9/11.5 MB 575.4 kB/s eta 0:00:10
   -------------------- ------------------- 5.9/11.5 MB 576.7 kB/s eta 0:00:10
   -------------------- ------------------- 6.0/11.5 MB 576.9 kB/s eta 0:00:10
   -------------------- ------------------- 6.0/11.5 MB 576.4 kB/s eta 0:00:10
   -------------------- ------------------- 6.0/11.5 MB 575.9 kB/s eta 0:00:10
   -------------------- ------------------- 6.0/11.5 MB 575.9 kB/s eta 0:00:10
   --------------------- ------------------ 6.1/11.5 MB 574.7 kB/s eta 0:00:10
   --------------------- ------------------ 6.1/11.5 MB 573.9 kB/s eta 0:00:10
   --------------------- ------------------ 6.1/11.5 MB 574.2 kB/s eta 0:00:10
   --------------------- ------------------ 6.1/11.5 MB 571.8 kB/s eta 0:00:10
   --------------------- ------------------ 6.1/11.5 MB 572.0 kB/s eta 0:00:10
   --------------------- ------------------ 6.1/11.5 MB 570.6 kB/s eta 0:00:10
   --------------------- ------------------ 6.2/11.5 MB 570.7 kB/s eta 0:00:10
   --------------------- ------------------ 6.2/11.5 MB 570.7 kB/s eta 0:00:10
   --------------------- ------------------ 6.2/11.5 MB 566.0 kB/s eta 0:00:10
   --------------------- ------------------ 6.2/11.5 MB 566.2 kB/s eta 0:00:10
   --------------------- ------------------ 6.2/11.5 MB 563.2 kB/s eta 0:00:10
   --------------------- ------------------ 6.2/11.5 MB 563.5 kB/s eta 0:00:10
   --------------------- ------------------ 6.3/11.5 MB 563.0 kB/s eta 0:00:10
   --------------------- ------------------ 6.3/11.5 MB 563.4 kB/s eta 0:00:10
   --------------------- ------------------ 6.3/11.5 MB 565.4 kB/s eta 0:00:10
   ---------------------- ----------------- 6.3/11.5 MB 565.0 kB/s eta 0:00:10

# Import the Library package

In [2]:
import pandas as pd

Create and print seires of numbers

In [3]:
data = [10, 20, 30, 40]
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
dtype: int64

Customize the Indexes

In [6]:
data = [10, 20, 30, 40]
cus_index = ["A", "B", "C", "D"]
series_new = pd.Series(data, index=cus_index)
series_new

A    10
B    20
C    30
D    40
dtype: int64

Access the indesx values

In [7]:
print(series[3])
print(cus_index[2])

40
C

In [8]:
result = series + 10
result

0    20
1    30
2    40
3    50
dtype: int64

## Data Frames

A DataFrame is a **two-dimensional, size-mutable, and potentially heterogeneous tabular** data structure with labeled axes (rows and columns).<br>
It's similar to a table in a database or an Excel spreadsheet.<br><br>

## Key Features of DataFrames:
**Labeled Axes:** Both rows and columns have labels, which makes data manipulation and retrieval easy.<br>
**Heterogeneous Data:** Columns can contain different types of data (integers, floats, strings, etc.).<br>
**Size-Mutable:** We can add or delete columns and rows.

In [9]:
data = {
    'Name' : ['Kamal', 'Vimal', 'Jhon', 'Stephen'],
    'Age' : [10, 25, 45, 12],
    'City' : ['NY', 'CLMB', 'TN', 'UK']
}

df = pd.DataFrame(data)
df

      Name  Age  City
0    Kamal   10    NY
1    Vimal   25  CLMB
2     Jhon   45    TN
3  Stephen   12    UK

## Data Selections

In [13]:
print(df['Name'])
print()
print(df['Age'])

0      Kamal
1      Vimal
2       Jhon
3    Stephen
Name: Name, dtype: object

0    10
1    25
2    45
3    12
Name: Age, dtype: int64

In [14]:
df.loc[0]

Name    Kamal
Age        10
City       NY
Name: 0, dtype: object

Read the datasets usinf CSV file

In [51]:
df = pd.read_csv('../Deep Learning for Computer Vision Tutorial/Datasets/Sample.csv')
df

      Username First Name  Last Name                 Email     Phone  Age
0       jsmith       John      Smith      jsmith@email.com  555-1234   20
1       mjones       Mary      Jones      mjones@email.com  555-5678   63
2       abrown      Alice      Brown      abrown@email.com  555-9012   87
..         ...        ...        ...                   ...       ...  ...
7      lthomas      Laura     Thomas     lthomas@email.com  555-8023   12
8   mrodriguez    Michael  Rodriguez  mrodriguez@email.com       NaN   46
9     kcollins      Kelly    Collins    kcollins@email.com  555-6432   23

[10 rows x 6 columns]

In [52]:
df.head()

    Username First Name Last Name                Email     Phone  Age
0     jsmith       John     Smith     jsmith@email.com  555-1234   20
1     mjones       Mary     Jones     mjones@email.com  555-5678   63
2     abrown      Alice     Brown     abrown@email.com  555-9012   87
3   tjohnson        Tom   Johnson   tjohnson@email.com  555-3456   45
4  swilliams      Sarah  Williams  swilliams@email.com  555-7890   26

Limit the dataset shows

In [53]:
pd.options.display.max_rows = 6
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Username    10 non-null     object
 1   First Name  10 non-null     object
 2   Last Name   10 non-null     object
 3   Email       10 non-null     object
 4   Phone       9 non-null      object
 5   Age         10 non-null     int64
dtypes: int64(1), object(5)
memory usage: 612.0+ bytes

Give some information about the array

In [54]:
df.describe()

             Age
count  10.000000
mean   40.700000
std    24.495124
...          ...
50%    35.500000
75%    58.750000
max    87.000000

[8 rows x 1 columns]

Shape of the array

In [55]:
df.shape

(10, 6)

Check the **NULL** values

In [56]:
df.isna()

    Username  First Name  Last Name  Email  Phone    Age
0      False       False      False  False  False  False
1      False       False      False  False  False  False
2      False       False      False  False  False  False
..       ...         ...        ...    ...    ...    ...
7      False       False      False  False  False  False
8      False       False      False  False   True  False
9      False       False      False  False  False  False

[10 rows x 6 columns]

Summation of the **NULL** values

In [57]:
df.isna().sum()

Username      0
First Name    0
Last Name     0
Email         0
Phone         1
Age           0
dtype: int64

Clean(drop) the **NULL** rows

In [58]:
df.dropna()

     Username First Name Last Name                Email     Phone  Age
0      jsmith       John     Smith     jsmith@email.com  555-1234   20
1      mjones       Mary     Jones     mjones@email.com  555-5678   63
2      abrown      Alice     Brown     abrown@email.com  555-9012   87
..        ...        ...       ...                  ...       ...  ...
6   danderson      David  Anderson  danderson@email.com  555-1357   21
7     lthomas      Laura    Thomas    lthomas@email.com  555-8023   12
9    kcollins      Kelly   Collins   kcollins@email.com  555-6432   23

[9 rows x 6 columns]

Fill the NULL values with random values

In [59]:
df.fillna(555-1434, inplace=True)
df

      Username First Name  Last Name                 Email     Phone  Age
0       jsmith       John      Smith      jsmith@email.com  555-1234   20
1       mjones       Mary      Jones      mjones@email.com  555-5678   63
2       abrown      Alice      Brown      abrown@email.com  555-9012   87
..         ...        ...        ...                   ...       ...  ...
7      lthomas      Laura     Thomas     lthomas@email.com  555-8023   12
8   mrodriguez    Michael  Rodriguez  mrodriguez@email.com      -879   46
9     kcollins      Kelly    Collins    kcollins@email.com  555-6432   23

[10 rows x 6 columns]

In [60]:
df["Phone"].fillna(555-4679, inplace=True)
df

C:\Users\HP\AppData\Local\Temp\ipykernel_13612\2548833634.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Phone"].fillna(555-4679, inplace=True)

      Username First Name  Last Name                 Email     Phone  Age
0       jsmith       John      Smith      jsmith@email.com  555-1234   20
1       mjones       Mary      Jones      mjones@email.com  555-5678   63
2       abrown      Alice      Brown      abrown@email.com  555-9012   87
..         ...        ...        ...                   ...       ...  ...
7      lthomas      Laura     Thomas     lthomas@email.com  555-8023   12
8   mrodriguez    Michael  Rodriguez  mrodriguez@email.com      -879   46
9     kcollins      Kelly    Collins    kcollins@email.com  555-6432   23

[10 rows x 6 columns]

## Mean and Mode

In [66]:
mn = df['Age'].mean()
print("Mean :", mn)

md = df['Age'].mode()
print("Mode :", md)

Mean : 40.7
Mode : 0    12
1    20
2    21
     ..
7    63
8    64
9    87
Name: Age, Length: 10, dtype: int64

Clean(drop) the dupicate datas

In [67]:
df.drop_duplicates(inplace=True)
df

      Username First Name  Last Name                 Email     Phone  Age
0       jsmith       John      Smith      jsmith@email.com  555-1234   20
1       mjones       Mary      Jones      mjones@email.com  555-5678   63
2       abrown      Alice      Brown      abrown@email.com  555-9012   87
..         ...        ...        ...                   ...       ...  ...
7      lthomas      Laura     Thomas     lthomas@email.com  555-8023   12
8   mrodriguez    Michael  Rodriguez  mrodriguez@email.com      -879   46
9     kcollins      Kelly    Collins    kcollins@email.com  555-6432   23

[10 rows x 6 columns]

Rename the column name by using pandas

In [69]:
df.rename(columns= {'Username' : 'Name'}, inplace=True)
df

          Name First Name  Last Name                 Email     Phone  Age
0       jsmith       John      Smith      jsmith@email.com  555-1234   20
1       mjones       Mary      Jones      mjones@email.com  555-5678   63
2       abrown      Alice      Brown      abrown@email.com  555-9012   87
..         ...        ...        ...                   ...       ...  ...
7      lthomas      Laura     Thomas     lthomas@email.com  555-8023   12
8   mrodriguez    Michael  Rodriguez  mrodriguez@email.com      -879   46
9     kcollins      Kelly    Collins    kcollins@email.com  555-6432   23

[10 rows x 6 columns]

# Manipulations

Create a new column

In [71]:
df["Gender"] = [
    "Male",
    "Female",
    "Male",
    "Female",
    "Male",
    "Female",
    "Male",
    "Male",
    "Male",
    "Female",
]
df

,Name,First Name,Last Name,Email,Phone,Age,Gender
0,jsmith,John,Smith,jsmith@email.com,555-1234,20,Male
1,mjones,Mary,Jones,mjones@email.com,555-5678,63,Female
2,abrown,Alice,Brown,abrown@email.com,555-9012,87,Male
...,...,...,...,...,...,...,...
7,lthomas,Laura,Thomas,lthomas@email.com,555-8023,12,Male
8,mrodriguez,Michael,Rodriguez,mrodriguez@email.com,-879,46,Male
9,kcollins,Kelly,Collins,kcollins@email.com,555-6432,23,Female

Set the groups

In [72]:
group_df = df.groupby('Gender')['Age'].mean()
group_df

Gender
Female    48.750000
Male      35.333333
Name: Age, dtype: float64

## Corelations

In [74]:
df.corr()

ValueError: could not convert string to float: 'jsmith'

## Visulaitations

In [78]:
df.plot(kind='bar', x='Gender', y='Age')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.